
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header{
  background-color:#F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
  padding:10px;
}
header >img{
  width:30px;
  height:35px;
  padding: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.travel-journal{
    box-sizing: border-box;
  
}
.japan-img-container{
   height:80%;
   width:90%;
   object-fit: cover;


}